$light: #ffffff;
$primary: #4CAF50;
$secondary: #448AFF;
$warning: #f44336;
$text: #212121;
$divided: #757575;
$theme: dark;

$font-xsmall: 0.625rem; // 10px
$font-small: 0.75rem; // 12px
$font-medium: 0.875rem; // 14px
$font-large: 1rem; // 16px
$font-xlarge: 1.75rem; // 28px
$font-xxlarge: 1.5rem; // 24px
$gap-small: 0.625rem; // 10px
$gap-medium: 1.25rem; // 20px
$padding-small: 0.3125rem; // 5px
$padding-medium: 0.625rem; // 10px
$margin-bottom: 0.1875rem; // 3px

$grid-column-width: 12.5rem; // 200px
$min-width: 39.25rem; // 628px
$inline-size-large: 37.5rem; // 600px

@mixin flex-center {
  display: flex;
  place-items: center;
  place-content: center;
}

:root {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  block-size: 100%;
  margin: 0;
  padding: 0;
  @include flex-center;

  @media (prefers-color-scheme: $theme) {
    background-color: $text;
  }
}

.container {
  display: grid;
  grid-template-columns: $grid-column-width; // 200px
  gap: $gap-medium; // 20px
  place-content: center;
  place-items: center;

  @media screen and (min-width: $min-width) {
    inline-size: $inline-size-large; // 600px
  }

  * {
    inline-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &__header {
    text-align: center;
    font-size: $font-xxlarge; // 24px
    color: $text;

    @media screen and (min-width: $min-width) {
      font-size: $font-xlarge; // 28px
    }

    @media (prefers-color-scheme: $theme) {
      color: $light;
    }
  }

  &__image {
    scale: 1;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    contain: content;
    text-align: right;
    font-size: $font-small;
    color: $light;

    border: solid 4px #000000;
    border-radius: $padding-small;

    &:hover {
      scale: 1.5;
      transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    }

    @media (prefers-color-scheme: $theme) {
      border: 0;
    }

    @media screen and (min-width: $min-width) {
      &:hover {
        scale: 2;
      }
    }
  }

  &__footer {
    text-align: center;
    color: $text;
    position: fixed;
    bottom: $margin-bottom; // 3px
    font-size: $font-small; // 12px

    @media screen and (min-width: $min-width) {
      position: relative;
    }

    @media (prefers-color-scheme: $theme) {
      color: $light;
    }

    &__icon {
      color: $warning;
      font-size: $font-medium; // 16px
      inline-size: min-content;
      display: inline;
      margin-top: $padding-small; // 4px
    }
  }

  &__section {
    @include flex-center;
    flex-direction: column;
    gap: $gap-small; // 10px

    &__input {
      font-family: inherit;
      padding-block: $padding-small; // 5px
      font-size: $font-medium; // 14px
      border: 0;
      border-bottom: solid 0.125rem; // 2px
      outline: none;
      text-align: center;
      background-color: transparent;
      transition: linear 0.2s;
      color: $text;

      @media (prefers-color-scheme: $theme) {
        color: $light;
      }

      &:focus {
        border-bottom-color: $primary;
      }
    }

    &__button {
      @include flex-center;
      gap: $gap-small; // 20px
      padding: $padding-medium; // 10px
      font-family: inherit;
      border-radius: $padding-small; // 5px
      border: 0;
      background-color: $divided;
      text-decoration: none;
      color: $light;
      cursor: pointer;
      transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;

      &__enabled {
        background-color: $secondary;
      }

      &__text,
      &__icon {
        font-size: $font-medium; // 14px
        flex: 0;
      }
    }

    &__counter {
      text-align: center;
      font-size: $font-xsmall; // 12px

      @media (prefers-color-scheme: $theme) {
        color: $light;
      }
    }
  }
}
