@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$primary: #3f51b5;
$secondary: #ff5252;
$warning: #f44336;
$text: #212121;

:root {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  block-size: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  place-content: center;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 200px;
  place-items: center;
  place-content: center;
  gap: 20px;

  @media screen and (min-width: 628px) {
    inline-size: 600px;
  }

  * {
    inline-size: 100%;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    font-size: 28px;
    color: $text;
  }

  h6 {
    text-align: center;
     color: $text;

    span {
      color: $warning;
      font-size: large;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 10px;

    input {
      font-family: inherit;
      padding-block: 5px;
      font-size: 14px;
      border: 0;
      border-bottom: solid 2px;
      outline: none;
      text-align: center;
      background-color: transparent;
      transition: linear 0.2s;
      color: $text;

      &:focus {
        border-bottom-color: $primary;
      }
    }

    span {
      text-align: center;
      font-size: 12px;
    }
  }
}
