$primary: #3f51b5;
$secondary: #ff5252;
$warning: #f44336;
$text: #212121;

:root {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  block-size: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  place-content: center;

  @media (prefers-color-scheme: dark) {
    background-color: $text;
  }
}

.container {
  display: grid;
  grid-template-columns: 200px;
  place-items: center;
  place-content: center;
  gap: 20px;

  @media screen and (min-width: 628px) {
    inline-size: 600px;
  }

  * {
    inline-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &__header {
    text-align: center;
    font-size: 24px;
    color: $text;
    @media screen and (min-width: 628px) {
      font-size: 28px;
    }
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
  }

  &__footer {
    text-align: center;
    color: $text;
    position: fixed;
    bottom: 10px;
    font-size: 12px;

    @media screen and (min-width: 628px) {
      position: relative;
    }

    @media (prefers-color-scheme: dark) {
      color: #fff;
    }

    &__icon {
      color: $warning;
      font-size: large;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 10px;

    &__input {
      font-family: inherit;
      padding-block: 5px;
      font-size: 14px;
      border: 0;
      border-bottom: solid 2px;
      outline: none;
      text-align: center;
      background-color: transparent;
      transition: linear 0.2s;
      color: $text;

      @media (prefers-color-scheme: dark) {
        color: #fff;
      }

      &:focus {
        border-bottom-color: $primary;
      }
    }

    &__counter {
      text-align: center;
      font-size: 12px;
      @media (prefers-color-scheme: dark) {
        color: #fff;
      }
    }
  }
}
